<header id="masthead" class="site-header general-header headerone" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
    <div class="top-header clearfix">
        <div class="container">
            <div class="contact-info left-contact">
                <div class="edu-topnav">
                    <div class="menu-top-menu-container">
                        <ul id="top-menu" class="menu">
                            <li id="menu-item-494" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-494"><a href="index.html" aria-current="page">Home</a></li>
                            <li id="menu-item-496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496"><a href="gallery/index.html">Gallery</a></li>
                            <li id="menu-item-497" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-497"><a href="shop/index.html">Shop</a></li>
                            <li id="menu-item-495" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-495"><a href="contact-us/index.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right-contact clearfix">
                <ul class="edu-social">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="header-middle-inner">
                <div class="site-branding logo">
                    <div class="brandinglogo-wrap">
                        <h1 class="site-title">
                            <a href="index.html" rel="home">
                                Codegrads
                            </a>
                        </h1>
                        <p class="site-description">A vision to code</p>
                    </div>
                    <button class="header-nav-toggle" data-toggle-target=".header-mobile-menu" data-toggle-body-class="showing-menu-modal" aria-expanded="false" data-set-focus=".close-nav-toggle">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                    </button>
                </div>
                <div class="contact-info">
                    <div class="quickcontact">
                        <div class="get-tuch text-left">
                            <i class="fas fa-phone-alt"></i>
                            <ul>
                                <li>
                                    <h4>Phone Number</h4>
                                </li>
                                <li>
                                    <p>
                                        <a href="tel:919582973533">
                                            +91 - 9582973533
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="get-tuch text-left">
                            <i class="fas fa-map-marker-alt"></i>
                            <ul>
                                <li>
                                    <h4>Contact Address</h4>
                                </li>
                                <li>
                                    <p>Delhi, India</p>
                                </li>
                            </ul>
                        </div>
                        <div class="get-tuch text-left">
                            <i class="far fa-envelope"></i>
                            <ul>
                                <li>
                                    <h4>Email Address</h4>
                                </li>
                                <li>
                                    <p>
                                        <a href="https://demo.sparklewpthemes.com/cdn-cgi/l/email-protection#790a5f5a48484e420909165f5a48484d425f5a48484f425f5a494f4d420a5f5a48484b42180b125f5a484941425f5a484948420e095f5a48484f42115f5a484948425f5a484940425f5a484948425f5a48484c425f5a494d4f425f5a49404042165f5a48494042">
                                            support@codegrads.com
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-menu">
        <div class="container">
            <div class="box-header-nav main-menu-wapper">
                <ul id="menu-menu-menu" class="main-menu">
                    <li id="menu-item-426" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-426"><a href="index.html" aria-current="page">Home</a></li>
                    <li id="menu-item-103" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-103">
                        <a href="#">Courses</a>
                        <ul class="sub-menu">
                            <li id="menu-item-105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-105"><a href="biology/index.html">Biology</a></li>
                            <li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-106"><a href="master-of-business-administration/index.html">Business Courses</a></li>
                            <li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-104"><a href="architecture/index.html">Architecture</a></li>
                            <li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-107"><a href="computer-it-courses/index.html">Computer &#038; IT</a></li>
                            <li id="menu-item-110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110"><a href="politics/index.html">Politics</a></li>
                            <li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="history-2/index.html">History</a></li>
                            <li id="menu-item-111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111"><a href="science/index.html">Science</a></li>
                            <li id="menu-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112"><a href="travel-tourism/index.html">Travel &#038; Tourism</a></li>
                            <li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="zoology/index.html">Zoology</a></li>
                            <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="fashion-courses/index.html">Fashion Courses</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-367" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-367">
                        <a href="#">Page Layouts</a>
                        <ul class="sub-menu">
                            <li id="menu-item-366" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-366"><a href="left-sidebar/index.html">Left Sidebar</a></li>
                            <li id="menu-item-365" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-365"><a href="right-sidebar/index.html">Right Sidebar</a></li>
                            <li id="menu-item-364" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-364"><a href="full-width/index.html">Full Width</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-335" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-335">
                        <a href="our-team-members-2/index.html">Our Team</a>
                        <ul class="sub-menu">
                            <li id="menu-item-340" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-340"><a href="adena-leal/index.html">Adena Leal</a></li>
                            <li id="menu-item-343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-343"><a href="thomas-grey/index.html">Thomas Grey</a></li>
                            <li id="menu-item-342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-342"><a href="shela-liou/index.html">Shela Liou</a></li>
                            <li id="menu-item-341" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-341"><a href="ripley-argon/index.html">Ripley Argon</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-420" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-420">
                        <a href="shop/index.html">Shop</a>
                        <ul class="sub-menu">
                            <li id="menu-item-417" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-417"><a href="my-account/index.html">My account</a></li>
                            <li id="menu-item-418" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-418"><a href="checkout/index.html">Checkout</a></li>
                            <li id="menu-item-419" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-419"><a href="cart/index.html">Cart</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-324" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-324"><a href="gallery/index.html">Gallery</a></li>
                    <li id="menu-item-305" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-305"><a href="contact-us/index.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>