@{
    ViewData["Title"] = "Home Page";
}

<div id="content" class="site-content content">
    <section class="ed-slider slider-layout-2 slider-nav-1">
        <div class="ed-slide" data-loop='1' data-autoplay='1' data-pager='0' data-controls='1' data-usecss='1' data-mode='fade' data-csseasing='ease' data-easing='linear' data-slideendanimation='1' data-drag='1' data-speed='2000' data-pause='5000'>
            <div class="slide">
                <img src="~/content/wp-content/uploads/2018/02/pexels-photo-820823-1-1280x600.jpg" alt="Welcome To Our University">
                <div class="ed-overlay"></div>
                <div class="container">
                    <div class="ed-slider-info">
                        <h2>Welcome To Our University</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed blanditiis nihil nesciunt accusantium assumenda facere, enim repellendus architecto&#8230;</p>
                        <a class="slider-button ed-button" href="#" class="btn primary">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="slide">
                <img src="~/content/wp-content/uploads/2018/02/pexels-photo-267885-1-1280x600.jpg" alt="Turn Your Dream Into Reality">
                <div class="ed-overlay"></div>
                <div class="container">
                    <div class="ed-slider-info">
                        <h2>Turn Your Dream Into Reality</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed blanditiis nihil nesciunt accusantium assumenda facere, enim repellendus architecto&#8230;</p>
                        <a class="slider-button ed-button" href="#" class="btn primary">
                            Join Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="slide">
                <img src="~/content/wp-content/uploads/2019/05/fatigued-young-laptop-beautiful-seductive-seat-1366717-pxhere.com_-1280x600.jpg" alt="Your Success Is Our Mission">
                <div class="ed-overlay"></div>
                <div class="container">
                    <div class="ed-slider-info">
                        <h2>Your Success Is Our Mission</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit labore mollitia, aliquam nisi neque perspiciatis expedita, nulla deleniti&#8230;</p>
                        <a class="slider-button ed-button" href="#" class="btn primary">
                            Admission Open
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
 </div>